BMCWindows/Connected Services/Server/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:complexType name="OperationResultOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Service.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ErrorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultOfanyType" nillable="true" type="tns:OperationResultOfanyType" />
  <xs:complexType name="OperationResultOfPlayerDTOQo1Oyztf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Service.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PlayerDTO" Namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="Data" nillable="true" type="q1:PlayerDTO" />
      <xs:element minOccurs="0" name="ErrorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultOfPlayerDTOQo1Oyztf" nillable="true" type="tns:OperationResultOfPlayerDTOQo1Oyztf" />
</xs:schema>