BMCWindows/Connected Services/ProfileServer/ProfileService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
  <xs:element name="updatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="updatePasswordResult" nillable="true" type="q1:OperationResultOfPlayerDTOQo1Oyztf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProfilePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProfilePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="updateProfilePictureResult" nillable="true" type="q2:OperationResultOfPlayerDTOQo1Oyztf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="updateEmailResult" nillable="true" type="q3:OperationResultOfPlayerDTOQo1Oyztf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>