BMCWindows/Connected Services/ProfileServer/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_updatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePassword" />
  </wsdl:message>
  <wsdl:message name="IProfileService_updatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_updateProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IProfileService_updateProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_updateEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmail" />
  </wsdl:message>
  <wsdl:message name="IProfileService_updateEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="updatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/updatePassword" message="tns:IProfileService_updatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/updatePasswordResponse" message="tns:IProfileService_updatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/updateProfilePicture" message="tns:IProfileService_updateProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/updateProfilePictureResponse" message="tns:IProfileService_updateProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/updateEmail" message="tns:IProfileService_updateEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/updateEmailResponse" message="tns:IProfileService_updateEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileService" type="tns:IProfileService">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="updatePassword">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/updatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfilePicture">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/updateProfilePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmail">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/updateEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="NetTcpBinding_IProfileService" binding="tns:NetTcpBinding_IProfileService">
      <soap12:address location="net.tcp://localhost:8085/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8085/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MARLA\marla</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>